@model CustomerViewModel
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kredi Çekme İşlemi</title>
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <link rel="stylesheet" href="~/css/main.css"> <!-- Ana stil dosyası -->
</head>

<body>
    <div class="glowing-title">
        <span>K</span><span>r</span><span>e</span><span>d</span><span>i</span>
        <span> </span><span>Ç</span><span>e</span><span>k</span><span>m</span><span>e</span>
        <span> </span><span>İ</span><span>ş</span><span>l</span><span>e</span><span>m</span><span>i</span>
    </div>
    <div class="form-container">
        <form method="post">
            <div class="form-group">
                <label for="Name">Müşteri Adı</label>
                <input type="text" name="Name" class="form-control"  placeholder="Adınızı girin">
            </div>
            <div class="form-group">
                <label for="Amount">Kredi Tutarı</label>
                <input type="text" name="Amount" class="form-control" placeholder="Tutarı girin">
            </div>
            <button type="submit" class="btn-custom">İşlemi Gerçekleştir</button>
        </form>
    </div>
    <div class="chain-animation">
        <span style="animation-delay: 0s;">C</span><span style="animation-delay: 0.1s;">h</span><span style="animation-delay: 0.2s;">a</span><span style="animation-delay: 0.3s;">i</span><span style="animation-delay: 0.4s;">n</span><span style="animation-delay: 0.5s;"> </span><span style="animation-delay: 0.6s;">o</span><span style="animation-delay: 0.7s;">f</span><span style="animation-delay: 0.8s;"> </span><span style="animation-delay: 0.9s;">R</span><span style="animation-delay: 1s;">e</span><span style="animation-delay: 1.1s;">s</span><span style="animation-delay: 1.2s;">p</span><span style="animation-delay: 1.3s;">o</span><span style="animation-delay: 1.4s;">n</span><span style="animation-delay: 1.5s;">s</span><span style="animation-delay: 1.6s;">i</span><span style="animation-delay: 1.7s;">b</span><span style="animation-delay: 1.8s;">i</span><span style="animation-delay: 1.9s;">l</span><span style="animation-delay: 2s;">i</span><span style="animation-delay: 2.1s;">t</span><span style="animation-delay: 2.2s;">y</span>
    </div>
</body>
</html>
