 
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>İşlem Başarılı</title>
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <link href="~/css/success.css" rel="stylesheet" />
</head>
<body>
    <div class="glowing-title">
        <span>K</span><span>r</span><span>e</span><span>d</span><span>i</span>
        <span> </span><span>Ç</span><span>e</span><span>k</span><span>m</span><span>e</span>
        <span> </span><span>İ</span><span>ş</span><span>l</span><span>e</span><span>m</span><span>i</span>
    </div>
    <div class="success-icon">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="white" width="100%" height="100%">
            <path d="M0 0h24v24H0z" fill="none" />
            <path d="M9 16.2L4.8 12l-1.4 1.4L9 19 21 7l-1.4-1.4L9 16.2z" />
        </svg>
    </div>
    <div class="success-message">
        Talep ettiğiniz tutar Banka tarafından ödendi.
    </div>
</body>
</html>
